<div style="border-style: dotted; border-color: #ffffff; border-top-color: #000000;">
  <div class="container" style="padding-top: 6vh; padding-bottom: 6vh">
    <h2>Sign up</h2>
    <br>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <br>
      <h3>Please enter a text describing you</h3>
      <div class="">
        <%= f.label :description %><br />
        <%= f.text_field :description, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>





