<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Resale a Business Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>

</head>
<body>
	<div class="main-banner banner text-center">
	  <div class="container">    
			<h1>Sell  <span class="segment-heading">    anything online </span> with Resale</h1>
			<br>
			<h3 style="color: #ffffff">The best eBay-clone you'll ever see!</h3>
	  </div>
	</div>
		<!-- content-starts-here -->
		<div class="content">
			<div class="categories">
				<div class="container">
					<div class="col-md-3 focus-grid">
						<a href="search_view?category=1">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-mobile"></i></div>
									<h4 class="clrchg">Mobiles</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 focus-grid">
						<a href="search_view?category=2">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-laptop"></i></div>
									<h4 class="clrchg"> Electronics & Appliances</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 focus-grid">
						<a href="search_view?category=3">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-car"></i></div>
									<h4 class="clrchg">Cars</h4>
								</div>
							</div>
						</a>
					</div>	
					<div class="col-md-3 focus-grid">
						<a href="search_view?category=4">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-motorcycle"></i></div>
									<h4 class="clrchg">Bikes</h4>
								</div>
							</div>
						</a>
					</div>	
						
					<div class="col-md-3 focus-grid">
						<a href="search_view?category=5">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-book"></i></div>
									<h4 class="clrchg">Books, Sports & Hobbies</h4>
								</div>
							</div>
						</a>
					</div>	
					<div class="col-md-3 focus-grid">
						<a href="search_view?category=6">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-asterisk"></i></div>
									<h4 class="clrchg">Fashion</h4>
								</div>
							</div>
						</a>
					</div>	
					<div class="col-md-3 focus-grid">
						<a href="search_view?category=7">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-gamepad"></i></div>
									<h4 class="clrchg">Kids</h4>
								</div>
							</div>
						</a>
					</div>	
					
					<div class="col-md-3 focus-grid">
						<a href="search_view?category=8">
							<div class="focus-border">
								<div class="focus-layout">
									<div class="focus-image"><i class="fa fa-home"></i></div>
									<h4 class="clrchg">House</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="trending-ads">
				<div class="container">
				<!-- slider -->
					<div class="trend-ads">
						<h2>Recently Created Products</h2>
					</div>
					<table id="example" class="display" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Name</th>
								<th>Category</th>
								<th>User</th>
								<th>Creation date</th>
							</tr>
						</thead>
						<tbody>
							<% Product.order(:created_at).first(10).each do |row|%>
								<%if row['block'] != true and User.find(row['user_id']).status != 1%>
									<tr>
										<td><a href="ProductProfile?product=<%=row['id']%>"><%= row['name'] %></a></td>
										<td><%= Category.find(row['category_id']).name %></td>
										<td><a href="seller_profile?user=<%=row['user_id']%>"><%= User.find(row['user_id']).name %></a></td>
										<td><%= row['created_at'] %></td>
									</tr>
								<%end%>
							<% end %>
						</tbody>
					</table> 
				</div>
			<!-- //slider -->				
			</div>
			<div class="trending-ads">
				<div class="container">
				<!-- slider -->
					<div class="trend-ads">
						<h2>Recently Updated Categories</h2>
					</div>
					<table id="example2" class="display" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Name</th>
								<th>Category</th>
								<th>User</th>
								<th>Creation date</th>
							</tr>
						</thead>
						<tbody>
							<% @recentlyUpdated.each do |row|%>
								<%if row[5] != 1 and User.find(row[3]).status != 1%>
									<tr>
										<td><a href="ProductProfile?product=<%=row[0]%>"><%= row[1] %></a></td>
										<td><%= Category.find(row[2]).name %></td>
										<td><a href="seller_profile?user=<%=row[3]%>"><%= User.find(row[3]).name %></a></td>
										<td><%= row[4] %></td>
									</tr>
								<%end%>
							<% end %>
						</tbody>
					</table> 
				</div>
			<!-- //slider -->				
			</div>
			
		</div>
		<!--footer section start-->		
		
        <!--footer section end-->
</body>
</html>
<script>
	$(document).ready(function() {
		$('#example').DataTable({
			"bLengthChange": false,
			"searching": false
		});

		$('#example2').DataTable({
			"bLengthChange": false,
			"searching": false
		});
	} );
</script>