<div id="page-wrapper" class="sign-in-wrapper">
        <div class="graphs">
            <div class="sign-up">
                <h1>Create a product</h1>
                <!-- <p class="creating">Having hands on experience in creating innovative designs,I do offer design 
                    solutions which harness.</p> -->
                <h2>Information:</h2>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Product name :</h4>
                    </div>
                    <div class="sign-up2">
                        <form>
                            <input type="text" placeholder=" " required=" " id="pName"/>
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Description :</h4>
                    </div>
                    <div class="sign-up2">
                        <form>
                            <input type="text" placeholder=" " required=" " id="pDesc"/>
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Shipping option 1:</h4>
                    </div>
                    <div class="sign-up2">
                            <div style="padding-top: 3vh">
                                <select style="width: 100%" id="SO1">
                                    <% ShippingOption.find_each do |row|%>
                                        <option value="<%= raw row['id']%>"><%= row['name']%></option>
                                    <% end %>
                                </select>
                            </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Shipping option 2:</h4>
                    </div>
                    <div class="sign-up2">
                            <div style="padding-top: 3vh">
                                <select style="width: 100%" id="SO2">
                                    <% ShippingOption.find_each do |row|%>
                                        <option value="<%= raw row['id']%>"><%= row['name']%></option>
                                    <% end %>
                                </select>
                            </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Shipping option 3:</h4>
                    </div>
                    <div class="sign-up2">
                            <div style="padding-top: 3vh">
                                <select style="width: 100%" id="SO3">
                                    <% ShippingOption.find_each do |row|%>
                                        <option value="<%= raw row['id']%>"><%= row['name']%></option>
                                    <% end %>
                                </select>
                            </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Category :</h4>
                    </div>
                    <div class="sign-up2">
                        <div style="padding-top: 3vh">
                            <select style="width: 100%" id="cat_id">
                                <% Category.find_each do |row|%>
                                    <option value="<%= raw row['id']%>"><%= row['name']%></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sub_home">
                    <div class="sub_home_left">
                            <input type="submit" value="Create!" onclick="create()">
                    </div>
                    <div class="sub_home_right">
                        <p>Go Back to <a href="index.html">Home</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function create(){
            console.log("Entré")
            name = $("#pName").val();
            description = $("#pDesc").val();
            category_id = $("#cat_id").val();
            so_1 = $("#SO1").val();
            so_2 = $("#SO2").val();
            so_3 = $("#SO3").val();
            $.ajax({
                type: 'GET',
                url: 'newProduct',
                data: {name:name, description:description, category_id:category_id, so_1:so_1, so_2:so_2, so_3:so_3},
                success: function(){
                    console.log("Success!")
                    alert("Product succesfully created");
                    //$('#transferS').show().delay(3500).fadeOut();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("There was a problem");
                    
                }
            });
        }
    </script>