<div id="page-wrapper" class="sign-in-wrapper">
        <div class="graphs">
            <div class="sign-up">
                <h1>Create a product</h1>
                <!-- <p class="creating">Having hands on experience in creating innovative designs,I do offer design 
                    solutions which harness.</p> -->
                <h2>Information:</h2>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Product name :</h4>
                    </div>
                    <div class="sign-up2">
                        <form>
                            <input type="text" placeholder=" " required=" " id="pName"/>
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Description :</h4>
                    </div>
                    <div class="sign-up2">
                        <form>
                            <input type="text" placeholder=" " required=" " id="pDesc"/>
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Shipping option 1:</h4>
                    </div>
                    <div class="sign-up2">
                            <div style="padding-top: 3vh">
                                <select style="width: 100%">
                                    <% ShippingOption.find_each do |row|%>
                                        <option value="<%= raw row['id']%>"><%= row['name']%></option>
                                    <% end %>
                                </select>
                            </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Shipping option 2:</h4>
                    </div>
                    <div class="sign-up2">
                            <div style="padding-top: 3vh">
                                <select style="width: 100%">
                                    <% ShippingOption.find_each do |row|%>
                                        <option value="<%= raw row['id']%>"><%= row['name']%></option>
                                    <% end %>
                                </select>
                            </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Shipping option 3:</h4>
                    </div>
                    <div class="sign-up2">
                            <div style="padding-top: 3vh">
                                <select style="width: 100%">
                                    <% ShippingOption.find_each do |row|%>
                                        <option value="<%= raw row['id']%>"><%= row['name']%></option>
                                    <% end %>
                                </select>
                            </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <div class="sign-up1">
                        <h4>Category :</h4>
                    </div>
                    <div class="sign-up2">
                        <div style="padding-top: 3vh">
                            <select style="width: 100%">
                                <% Category.find_each do |row|%>
                                    <option value="<%= raw row['id']%>"><%= row['name']%></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="sub_home">
                    <div class="sub_home_left">
                        <form>
                            <input type="submit" value="Create">
                        </form>
                    </div>
                    <div class="sub_home_right">
                        <p>Go Back to <a href="index.html">Home</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>